@font-face {
  font-family: 'icomoon';
  src:  url('../../public/fonts/icomoon/icomoon.eot?7j9fgx');
  src:  url('../../public/fonts/icomoon/icomoon.eot?7j9fgx#iefix') format('embedded-opentype'),
    url('../../public/fonts/icomoon/icomoon.ttf?7j9fgx') format('truetype'),
    url('../../public/fonts/icomoon/icomoon.woff?7j9fgx') format('woff'),
    url('../../public/fonts/icomoon/icomoon.svg?7j9fgx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youtube:before {
  content: "\e900";
  color: #5f6d7c;
}
.icon-souvenir:before {
  content: "\e901";
  color: #5f6d7c;
}
.icon-search:before {
  content: "\e902";
  color: #5f6d7c;
}
.icon-login:before {
  content: "\e903";
  color: #5f6d7c;
}
.icon-linkedin:before {
  content: "\e904";
  color: #5f6d7c;
}
.icon-instagram:before {
  content: "\e905";
  color: #5f6d7c;
}
.icon-Icons-tools:before {
  content: "\e906";
  color: #5f6d7c;
}
.icon-Icone-Home:before {
  content: "\e907";
  color: #5f6d7c;
}
.icon-Icon-techniques:before {
  content: "\e908";
  color: #5f6d7c;
}
.icon-Icon-stationery:before {
  content: "\e909";
  color: #5f6d7c;
}
.icon-Icon-Sofa:before {
  content: "\e90a";
  color: #5f6d7c;
}
.icon-Icon-Perfume:before {
  content: "\e90b";
  color: #5f6d7c;
}
.icon-Icon-jewerly:before {
  content: "\e90c";
  color: #5f6d7c;
}
.icon-Icon-Games-Joyes:before {
  content: "\e90d";
  color: #5f6d7c;
}
.icon-empty-fav .path1:before {
  content: "\e90e";
  color: rgb(255, 255, 255);
}
.icon-empty-fav .path2:before {
  content: "\e90f";
  margin-left: -1.2353515625em;
  color: rgb(0, 99, 189);
}
.icon-Icon-food-and-drink:before {
  content: "\e910";
  color: #5f6d7c;
}
.icon-Icon-clothes:before {
  content: "\e911";
  color: #0063bd;
}
.icon-Icon-cars:before {
  content: "\e912";
  color: #5f6d7c;
}
.icon-Icon-Brands:before {
  content: "\e913";
  color: #5f6d7c;
}
.icon-Icon-books:before {
  content: "\e914";
  color: #5f6d7c;
}
.icon-Icon-ball:before {
  content: "\e915";
  color: #5f6d7c;
}
.icon-Icon-animal:before {
  content: "\e916";
  color: #5f6d7c;
}
.icon-facebook:before {
  content: "\e917";
  color: #5f6d7c;
}
.icon-basket:before {
  content: "\e918";
  color: #5f6d7c;
}
