:root {
    --white: #fff;
    --black: #292929;
    --gray-light: #F5F5F5;
    --gray: #5F6D7C;
    --gray-line: #C9C9C9;
    --blue: #0063BD;
    --blue-dark: #004494;
    --blue-light-2: #B3C7DF;
    --black60: rgba(0, 0, 0, .6);
    --gray60: rgba(95, 109, 124, .6);
    --orange: #F18E00;
    --shadow: 0 8px 22px rgba(50, 94, 137, 0.149);
}