@import './main-styles/mixins.scss';

.footerSocials {
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;

    @include sm {
        width: 40%;
    }

    &__social {
        font-size: 0.75rem;
        opacity: .6;

        @include sm {
            font-size: 1.25rem;
        }

        &:before {
            color: var(--gray);
        }

        &:hover {
            opacity: 1;
        }
    }
}
