@import '../styles/main-styles/mixins.scss';

.header {
    position: sticky;
    top: 0;
    background-color: var(--white);
    z-index: 999;

    &__top {
        padding: 6px 0;
        background-color: var(--gray-light);
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--blue);
    }

    &__text {
        font-size: 0.5rem;
        line-height: 1.25em;

        @include lg {
            font-size: 11px;
        }        
    }

    &__contact {
        padding-left: 0.75em;
        font-size: 0.5rem;
        line-height: 1.25em;
        border-left: 1px solid var(--gray-line);

        @include lg {
            display: none;
        }
    }

    &__main {
        display: flex;
        column-gap: 1.125rem;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &__left {
        position: relative;
        display: flex;
        align-items: center;
        flex-grow: 1;
        min-height: 30px;
    }

    &__logo {
        max-width: 4.5rem;
        max-height: 1.15625rem;
        margin-inline-end: 1.4375rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        @include lg {
            margin-inline-start: 52px;
        }
    }
}

.lang {
    position: relative;
    font-size: 0.5rem;
    line-height: 1.25em;
    color: var(--blue);

    &__current {
        cursor: pointer;
    }

    &__arrow {
        margin-inline-start: 7px;
        font-size: 6px;
    }

    &__wrap {
        position: absolute;
        top: 22px;
        left: 0;
        display: none;
        flex-direction: column;
        background-color: var(--white);
        box-shadow: var(--shadow);
        z-index: 9;

        &.opened {
            display: flex;
        }
    }

    &__sub {
        padding: 3px 5px;
        cursor: pointer;

        &:hover {
            background-color: var(--gray-light);
        }
    }

    @include lg {
        display: none;
    }
}