.shipping {
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
    margin-block-start: 3.375rem;
    margin-block-end: 2.125rem;
}

.products {
    margin-block-end: 1.875rem;

    &__promo {
        display: flex;
        justify-content: center;
        column-gap: 0.75rem;
        margin-block-end: 1.375rem;
    }

    &__promo_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 7.8125rem;
        font-size: 0.625rem;
        line-height: 1.4em;
        font-weight: 700;
        color: var(--gray-line);
        cursor: pointer;

        &.active,
        &:hover {
            color: var(--blue);

            &:after {
                background-color: var(--orange);
            }
        }

        &:after {
            content: "";
            margin-block-start: 0.75rem;
            width: 100%;
            height: 2px;
            background-color: transparent;
        }
    }

    &__slider {
        display: flex;
        column-gap: 0.9375rem;
    }
}
